#SPDX-License-Identifier: MIT-0
---
# tasks file for docker

- name: check if exist directory(sudo install -m 0755 -d /etc/apt/keyrings)
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  become: true

- name: Download Docker GPG key for Debian
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
  become: true

#трохи скопіпиздив
- name: Add Docker apt repository
  copy:
    dest: /etc/apt/sources.list.d/docker.sources
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/debian
      Suites: {{ ansible_distribution_release }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
  become: true

- name: update and upgrate  packeges
  ansible.builtin.apt:
    update_cache: yes
  become: true

#install docker

- name: install docker
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    update_cache: yes
  become: true

